body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #011627;
  }
  
  .login .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #FDFFFC;
    padding: 2rem;
    text-align: center;
    width: 500px;
    border: 2px solid #D10E2C;
    border-radius: 8px;
  }
  
  .login .container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .login .container form input {
    border: none;
    padding: 0.8rem;
  }
  
  .login .container form input::placeholder {
    color: #a7a5a5;
  }
  
  .login .title {
    font-size: 2rem;
    color: #011627;
    font-weight: bold;
  }
  
  .login .subtitle {
    font-size: 1rem;
    padding: 0 0 1.5rem 0;
    color: #011627;
  }
  
  .login button.enter {
    background-color: #D10E2C;
    padding: 1rem;
    border: none;
    font-weight: bold;
    color: #FDFFFC;
    font-size: 1rem;
    border-radius: 2rem;
    cursor: pointer;
  }
  
  .login button.enter:hover {
    animation: 5s ease-in linear infinite;
    color: #ffffff;
    background-color: #e41232;
  }
  
  .login button.login-register-btn {
    background-color: transparent;
    padding: 1rem;
    border: 2px solid #D10E2C;
    font-weight: bold;
    color: #D10E2C;
    font-size: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .login button.login-register-btn:hover {
    background-color: #D10E2C;
    color: #FDFFFC;
  }
  
  .login p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  